@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap');

:root {
    --text: #e4eae2;
    --background: #0b0e0a;
    --primary: #b4c6b0;
    --secondary: #46615b;
    --accent: #85a4a8;
    --font-satoshi: 'Satoshi', sans-serif;
}

.guess-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text);
    gap: 10px;
}

.guess-input {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    
}

#guess-field {
    appearance: none;
    border: none;
    background-color: color-mix(in srgb, var(--accent) 5%, transparent);
    padding: 10px;
    border-radius: 3px 0 0 3px;
    width: 15rem;
    color: var(--text);
}

#guess-field:focus {
    outline: none;
}

.guess-input:has(#guess-field:focus) {
    outline: 1px solid var(--accent);
}

#submit-guess {
    appearance: none;
    background-color: color-mix(in srgb, var(--accent) 15%, transparent);
    color: var(--secondary);
    padding: 10px;
    border-radius: 0 3px 3px 0;
    border: none;
}

#submit-guess:hover {
    cursor: pointer;
}

.hint {
    background-color: color-mix(in srgb, var(--accent) 5%, transparent);
    width: 80%;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}

#clues-box, #message-box {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    text-align: center;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

#suggestions-box {
    position: relative;
    width: 50%;
    background: white;
    border: none;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    color: var(--background);
}

.suggestion:hover {
    background: #f0f0f0;
}

