@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap');

:root {
    --text: #e4eae2;
    --background: #0b0e0a;
    --primary: #b4c6b0;
    --secondary: #46615b;
    --accent: #85a4a8;
    --font-satoshi: 'Satoshi', sans-serif;
}

.main-container {
    margin: 50px 200px 50px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

h1{
    margin-bottom: 25px;
    font-size: 4rem;
    font-weight: 800;
}

#guess-subtitle {
    color: var(--primary);
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

h3{
    color: var(--secondary);
    font-size: 2rem;
    text-align: center;
    margin: 0 0 25px 0;
}

.main-container button {
    width: 100%;
    color: var(--primary);
    padding: 30px 20px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    background-color: color-mix(in srgb, var(--accent) 20%, transparent);
    transition: all 0.2s ease;
    letter-spacing: 0.75px;
}

.main-container a {
    padding: 10px 20px;
    width: 30rem;
}

.main-container button:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--accent) 35%, transparent);
}

.main-container button:active {
    background-color: transparent !important;
    transform: scale(0.985);
}
